.navSideBar__backdrop {
  position: absolute;
  left: 0;
  right: 0;

  top: 0;
  bottom: 0;
  /* height: 400vh; */
  /* height: 100vh; */
  background: rgba(0, 0, 0, 0.3);
  z-index: 200;
  cursor: pointer;
}
