.nav {
  width: 100%;
  max-width: 1400px;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

.nav__left {
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
}

.nav__right {
  display: none;

  transition: opacity 0.3s;
}

.nav__header {
  padding: 0.8rem 1rem;
}
.nav__menuIconContainer {
  border-radius: 5px;
  /* border-color: blue; */
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 0.5rem;
  padding: 0.2rem;
  padding-top: 0.3rem;
  border: 1px dotted transparent;
  transition: border 0.2s;
}

.nav__menuIconContainer:active {
  border: 1px dotted var(--main-orange);
}
.nav__menuIcon {
  font-size: 1.8rem !important;

  color: rgb(78, 85, 89);
}

.nav__logo {
  object-fit: contain;
  width: 150px;
  display: block;
  transition: width 0.3s ease-in-out;
}

.nav__link {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: var(--main-orange);
  font-size: calc(0.8rem + 0.2vw);
  font-weight: 700;
  transition: font-size 0.3s ease-in-out;
}

.nav__btn {
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 5px;
  transition: opacity 0.2s ease-in-out;
}

.nav__btn:hover {
  opacity: 0.8;
}
.nav__btn .nav__link {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  background-color: var(--main-orange);
  padding: 0.5rem 2rem;
  font-weight: 700;
}

.nav__backdrop {
  position: absolute;
  left: 0;
  right: 0;

  top: 0;
  bottom: 0;
  /* height: 400vh; */
  /* height: 100vh; */
  background: rgba(0, 0, 0, 0.3);
  z-index: 200;
  cursor: pointer;
}
@media (min-width: 500px) {
  .nav__logo {
    width: 200px;
  }
}
@media (min-width: 700px) {
  .nav__right {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .nav__right {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 1rem;
  }
}
