* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-orange: rgb(255, 98, 0);
}
a {
  text-decoration: none;
}

svg {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

.App {
  max-width: 1400px;
  position: relative;
}
