.mainBanner {
  margin-top: 4.2rem;
  font-family: "Open Sans", sans-serif;
}

.mainBanner__main {
  background-image: url("../../assets/sm-jobseeker-hero.jpg");
  object-fit: contain;
  padding: 1rem;
  width: 100%;
  background-position: 60% 2%;
  background-repeat: no-repeat;
  min-height: 648px;
  display: block;
  min-width: 300px;
  transition: background-position 0.2s;
}
.mainBanner__img {
  object-fit: cover;
  width: 100%;
  display: block;
  margin: 4rem 0 2rem;
}
.mainBanner__container {
  display: flex;
  flex-direction: column;
}

.mainBanner__heading {
  font-weight: 300;
  color: #fff;
  font-size: 1.2rem;
  /* text-align: center; */
}

.mainBanner__bottom {
  text-align: center;
}

.mainBanner__video {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.mainBanner__btn {
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

.mainBanner__link {
  display: block;
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
}

.mainBanner__img.lg {
  display: none;
  transition: width 0.3s ease-in-out;
}
@media (min-width: 642px) {
  .mainBanner__main {
    background-image: url("../../assets/jm-jobseeker-hero.jpg");
    object-fit: cover;
    background-position: 100% 5%;
    background-repeat: no-repeat;
    display: inline-flex;
    width: 100%;
    min-height: 500px;
    /* height: 200px; */
  }

  .mainBanner__img {
    display: none;
  }

  .mainBanner__img.lg {
    display: block;
    width: calc(400px + 10vw);
    max-width: 600px;
  }

  .mainBanner__bottom {
    text-align: left;
    max-width: 500px;
  }

  .mainBanner__video {
    justify-content: flex-start;
    margin-right: 2rem;
  }

  .mainBanner__videoContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  .mainBanner__link {
    padding: 0rem 2.5rem;
    font-size: 1.1rem;
  }

  .mainBanner__btn {
    margin-right: 1rem;
    height: 40px;
    margin-top: 0.5rem;
  }
  .mainBanner__heading {
    font-size: 1rem;
  }
}
