/* .smallBanner {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  /* border: 1px solid black; */
/* background: linear-gradient(to right, rgb(14, 1, 53), rgb(38, 15, 141));
} */
*/

/* .smallBanner__container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  text-align: center;
} */

/* .smallBanner__text {
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  display: inline-block;
} */
.smallBanner__link {
  text-transform: uppercase;
  /* color: rgb(255, 98, 0); */
  color: tomato;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-top: 2rem;
  transition: all 0.3s;
}

.smallBanner__container > * {
  margin-bottom: 1rem;
}

@media (min-width: 596px) {
  .smallBanner__container {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: unset;
  }

  .smallBanner__container > * {
    margin-left: 1rem;
    margin-bottom: unset;
  }

  /* .smallBanner__text:first-child {
    margin-left: unset;
  } */

  /* .smallBanner__link {
    margin-left: 1rem;
    margin-top: unset;
  } */
}
